.footer-container{
    background-color: #312E56;
    width: 100%;
    color: white;
    height: auto;
    display: flex;
    flex-direction: row;

    
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer-content{
    margin: 10px;
    width: 100%;
    text-align: center;
}
.link-button{
    color: #F2A09F !important;
    margin: 5px 10px;
}