.App {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.header-container{
  background-color: #312E56;
  width: 100%;
  color: white;
}

.MuiDataGrid-cellCenter {
  justify-content: center !important;
}

.content-container{
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  width: 70%;
}

.current-icon{
  width: inherit;
  height: 25%;
  background: #733b3d;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
